html {
    height: 100%;
    width: 100%;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    margin-top: 40px;
  }
  
  input {
    margin: 10px;
    padding: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    margin-top: 10px;
    font-weight: bold;
  }
  